.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.buttonRed {
    padding: 5px;
    border-radius: 5px;
    background-color: red;
}


.buttonGreen {
    padding: 5px;
    border-radius: 5px;
    background-color: green;
}